@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue-color: rgb(26, 146, 211);
    --white-color: rgb(255, 255, 255);
    --gray-color: rgb(226, 232, 240);

    font-family: "Roboto", sans-serif;
    /* font-weight: 100; */
    /* font-style: normal; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: max(100px, 18vh) 1fr / max(200px, 20vw) 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;

    background-color: var(--blue-color);
}

.header {
    grid-area: header;

    background-color: var(--white-color);
}

.main-content {
    grid-area: main;

    background-color: var(--gray-color);
}

.sidebar {
    font-size: 17px;
    font-weight: 500;
    color: var(--white-color);
    padding: 20px;

    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        "logo"
        "nav"
        "settings";
    gap: 40px;
}

.icon {
    height: 1.2em;
    position: relative;
    top: 3px;
    fill: var(--white-color);
    margin-right: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

.logo-icon {
    width: clamp(20px, 4vw, 40px);
    height: clamp(20px, 4vh, 40px);
    top: clamp(0px, 15%, 8px);

    fill: var(--white-color);
    position: relative;
}

.logo {
    grid-area: logo;
    font-size: clamp(20px, 2vw, 30px);
}

.nav-list {
    grid-area: nav;
}

.settings-list {
    grid-area: settings;
}